.recap {
    position: absolute;
    left: 1360px;
    background-color: #ECF87F;
    width: 530px;
    height: 90%;
}

.map {
    float: left;
    width: 220px;
    margin: 10px;
}

.teamName {
    font-size: small;
    padding: 0 15px;
}

.mapName {
    font-weight: bold;
}