<div>
  <app-bracket [bracket]="getBracketByMatchId('MATCH 1')" (evtSelectWinner)="winnerSelected($event)" [row]="0" [col]="0"></app-bracket>
  <app-bracket [bracket]="getBracketByMatchId('MATCH 2')" (evtSelectWinner)="winnerSelected($event)" [row]="1" [col]="0"></app-bracket>
  <app-bracket [bracket]="getBracketByMatchId('MATCH 3')" (evtSelectWinner)="winnerSelected($event)" [row]="2" [col]="0"></app-bracket>
  <app-bracket [bracket]="getBracketByMatchId('MATCH 4')" (evtSelectWinner)="winnerSelected($event)" [row]="3" [col]="0"></app-bracket>

  <app-bracket [bracket]="getBracketByMatchId('MATCH 5')" (evtSelectWinner)="winnerSelected($event)" [row]="0.6" [col]="1"></app-bracket>
  <app-bracket [bracket]="getBracketByMatchId('MATCH 6')" (evtSelectWinner)="winnerSelected($event)" [row]="2.6" [col]="1"></app-bracket>

  <app-bracket [bracket]="getBracketByMatchId('MATCH 11')" (evtSelectWinner)="winnerSelected($event)" [row]="1.6" [col]="2"></app-bracket>
  
  <app-bracket [bracket]="getBracketByMatchId('MATCH 14')" (evtSelectWinner)="winnerSelected($event)" [row]="1.6" [col]="3"></app-bracket>


  <app-bracket [bracket]="getBracketByMatchId('MATCH 7')" (evtSelectWinner)="winnerSelected($event)" [row]="5" [col]="0"></app-bracket>
  <app-bracket [bracket]="getBracketByMatchId('MATCH 8')" (evtSelectWinner)="winnerSelected($event)" [row]="6" [col]="0"></app-bracket>

  <app-bracket [bracket]="getBracketByMatchId('MATCH 9')" (evtSelectWinner)="winnerSelected($event)" [row]="5" [col]="1"></app-bracket>
  <app-bracket [bracket]="getBracketByMatchId('MATCH 10')" (evtSelectWinner)="winnerSelected($event)" [row]="6" [col]="1"></app-bracket>

  <app-bracket [bracket]="getBracketByMatchId('MATCH 12')" (evtSelectWinner)="winnerSelected($event)" [row]="5.6" [col]="2"></app-bracket>

  <app-bracket [bracket]="getBracketByMatchId('MATCH 13')" (evtSelectWinner)="winnerSelected($event)" [row]="5.6" [col]="3"></app-bracket>

  <app-recap [brackets]="brackets"></app-recap>
</div>